:root {
    --turquoise: #40e2ab;
    --atoll: #087069;
    --blue-whale: #042c4c;
    --green-haze: #049c5c;
    --eden: #145563;
    --gossamer: #07938c;
    --mosque: #045c6c;
    --tarawera: #063e56;
    --teal-blue: #06515d;
    --tw-text-opacity: 1;
    --text: rgb(107 114 128 / var(--tw-text-opacity));
    --ice : #a1d6e2;
    --white: #FFFFFF;
}

#categoryTitle {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .categorySelector {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        padding: 0;
        gap: 20px;
        width: 218px;
    }
}