/* 1 */
.category--projects {
    display: flex;
}

.category--projects {
    flex-flow: row wrap;
}

.category--projects {
    justify-content: space-evenly;
}


/* 2 */
.category--projects {
    width: 100%;
}

.category--projects {
    gap: 60px 5px;
}

.category--projects {
    padding: 5px;
}

.category--projects {
    /* background: red; */
}
