:root {
    --turquoise: #40e2ab;
    --atoll: #087069;
    --blue-whale: #042c4c;
    --green-haze: #049c5c;
    --eden: #145563;
    --gossamer: #07938c;
    --mosque: #045c6c;
    --tarawera: #063e56;
    --teal-blue: #06515d;
}


/*
1. position
2. box model
3. typography
4. visual
5. other
*/

/* 1 */

/* 2 */

/* 3 */

/* 4 */
.twitterUserName {
    color: var(--eden);
}

/* 5 */