:root {
    --turquoise: #40e2ab;
    --atoll: #087069;
    --blue-whale: #042c4c;
    --green-haze: #049c5c;
    --eden: #145563;
    --gossamer: #07938c;
    --mosque: #045c6c;
    --tarawera: #063e56;
    --teal-blue: #06515d;
    --tw-text-opacity: 1;
    --text: rgb(107 114 128 / var(--tw-text-opacity));
    --ice : #a1d6e2;
}


/*
1. position
2. box model
3. typography
4. visual
5. other
*/

/* 1 */
.category__item,
.pdfContainer,
.category--projects {
    display: flex;
}
.category--about {
    flex-flow: column wrap;
}

.pdfContainer {
    flex-flow: column;
}

.category--projects {
    flex-flow: row wrap;
}

.category--projects {
    justify-content: space-evenly;
}

/* 2 */
.pdfContainer,
.pdfContainer,
.category--projects {
    width: 100%;
}
.pdfContainer {
    gap: 20px;
}

#categoryTitle,
.category--about p:nth-child(2) {
    margin-bottom: 20px;
}

.category__title {
    margin-bottom: 7px;
}

.category--about p:nth-child(5) {
    margin-bottom: 30px;
}

.pdfContainer__button,
.pdfContainer {
    padding: 10px 0;
}
.pdfContainer__pdf {
    height: 600px;
}

.category--projects {
    gap: 5px;
}

.category--projects {
    padding: 5px;
}

.footer {
    height: 100px;
}

/* 3 */
.category__title,
.pdfContainer__button {
    font-size: 1rem;
    font-weight: 600;
}

.category__text {
    text-align: justify;
}


/* 4 */
.twitterUserName {
    color: var(--eden);
}

.pdfContainer__button {
    background: var(--eden);
}

.category__text {
    color: var(--text);
}

.pdfContainer__button {
    border-radius: 3px;
    color: white;
}

.category--projects {
    /* background: red; */
}

.footer {
    background: var(--blue-whale);
}

/* 5 */
.pdfContainer__button:active {
    transform: scale(.99);
    opacity: .9;
}

.pdfContainer__button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .categorySelector {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding: 0;
        width: 218px;
    }
}

@media (min-width: 1023px) {

}